%h1 Generate STC Sign In Sheet
%title Generate STC Sign In Sheet

= form_tag forms_path, :multipart=>true do

  = label :form, :stc_field_representative, 'STC Field Representative'
  = text_field :form, 'stc_field_representative'
  
  = label :form, :certification_number, 'Certification Number'
  = text_field :form, 'certification_number'
  
  = label :form, :start_date, 'Start Date'
  = text_field :form, 'start_date'
  
  = label :form, :end_date, 'End Date'
  = text_field :form, 'end_date'
  
  = label :form, :location, 'Location'
  = text_field :form, 'location'
  
  = label :form, :certified_date, 'Certified Date'
  = text_field :form, 'certified_date'
  
  = label :form, :course_title, 'Course Title'
  = select :form, :course_title, ['The Council Facilitator Training', 'Girls Circle Facilitator Training']
  
  = label :form, :total_participants, 'Total Participants'
  = text_field :form, 'total_participants'
  
<<<<<<< HEAD
  = file_field_tag :file
=======
>>>>>>> 347af87cf5bcd2efba4295fcbd42a2981f748670
  
  = file_field_tag :file

  = submit_tag 'Generate'

